header{
    background-color: black;
    height: 40px;
    
    
}
.x {
   margin-right: 20px;
   color: white;
    
}
.y{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.active{
    color: red;
}

.y :hover{
    background-color: green;
    
}